* {
	padding: 0;
	margin: 0;
}
.YangPlayer-container {
	background-color: #000;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -225px;
	margin-left: -300px;
}
.control { 
	position: absolute;
	width: 100%;
	height: 56px; 
	bottom: 0;
	left: 0;
}
.progress {
	position: absolute;
	width: 100%;
	height: 8px;
	background-color: #999;
	left: 0;
	bottom: 48px;
}
.playedbar { 
	position: absolute;
	left: 0;
	top: 0;
	background-color: #0FF;
	height: 8px;
 }
 .btn-control {
 	width: 100%;
 	height: 48px;
 	position: absolute;
 	bottom: 0;
 	left: 0;
 }
 .main-control {
 	height: 48px;
 	width: 20%;
 	position: absolute;
 	left: 30%;
 	bottom: 0;
 }
 .playbutton {
 	max-height: 45px;
 }
 .volume-control {
 	width: 20%;
 	height: 48px;
 	position: absolute;
 	left: 50%;
 	bottom: 0;
 	font-size: 1.3em;
 	font-weight: 600;
 	color: #fff;
 	line-height: 48px;
 	word-spacing: 0.2em;
 }
 .playbutton,
 .add,
 .sub { cursor: pointer; }
 .loading {
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	background: url(loading.gif) no-repeat 50% 50%;
 	display: none;
 }