.YangPlayer-container {
  width: 632px;
  height: 422px;
  background-color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}
#YangPlayer {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.YangPlayer-control-box {
  width: 100%;
  height: 30px;
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
}
.YangPlayer-control {
  width: 100%;
  height: 30px;
  visibility: visible;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2147483647; /* avoiding the overriding of the user agent(Chrome)’s style sheet when Chrome enters fullscreen mode */
}
.YangPlayer-controlPlay-button { 
  display:inline-block;
  float: left;
  margin-right: 5px;
}
.YangPlayer-play-button,
.YangPlayer-pause-button {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
}
.YangPlayer-pause-button {
  display: none;
}
.YangPlayer-progress {
  background-color: #ddd;
  border-radius: 5px;
  width: 350px;
  height: 8px;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  margin-top: 11px;
  position: relative;
}
.YangPlayer-playedbar {
  background-color: #09f;
  display: none;
  height: 8px;
  width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19970911;
}
.YangPlayer-bufferedbar {
  background-color: #ccc;
  display: none;
  height: 8px;
  width: 0;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.YangPlayer-progress-dragButton {
  width: 14px;
  height: 14px;
  background-color: #fff;
  box-shadow: 0 0 5px #09f;
  border-radius: 7px;
  position: absolute;
  left: 0;
  top: -3px;
  cursor: pointer;
  z-index: 19970912;
}
.YangPlayer-time {
  display: inline-block;
  line-height: 30px;
  font-size: .9em;
  color: #99a2aa;
  margin-right: 5px;
  float: left;
  width: 136px;
  height: 30px;
  text-align: center;
}
.YangPlayer-volume-button {
  display:inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  transition: background-color .5s linear;
}
.YangPlayer-volume-up,
.YangPlayer-volume-down,
.YangPlayer-volume-off {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
}
.YangPlayer-volume-down,
.YangPlayer-volume-off {
  display: none;
}
.YangPlayer-volume-change {
  width: 30px;
  height: 100px;
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  visibility: hidden;
  box-shadow: 0 0 5px #999;
  transition: all .5s linear;
}
.YangPlayer-volume-number {
  font-size: .8em;
  color: #999;
  text-align: center;
  padding-top: 6px;
}
.YangPlayer-volume-bar {
  width: 6px;
  height: 70px;
  background-color: #39f;
  border-radius: 5px;
  position: absolute;
  left: 12px;
  top: 22px;
}
.YangPlayer-volume-dragButton {
  width: 14px;
  height: 14px;
  background-color: #fff;
  box-shadow: 0 0 5px #09f;
  border-radius: 7px;
  position: absolute;
  left: -4px;
  top: 28px;
  cursor: pointer;
}
.YangPlayer-currentVolume-reverseBar {
  width: 6px;
  height: 40%;
  background-color: #ddd;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.YangPlayer-setting-button {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
  position: relative;
  float: left;
  margin-right: 5px;
  transition: background-color .5s linear;
}
.YangPlayer-setting-pane {
  width: 270px;
  height: 150px;
  background-color: #eee;
  position: absolute;
  right: -30px;
  bottom: 30px;
  box-shadow: 0 0 5px #999;
  visibility: hidden;
  transition: all .5s linear;
}
.YangPlayer-play-loop,
.YangPlayer-play-auto {
  width: 100%;
  height: 35px;
  line-height: 35px;
}
.YangPlayer-loop-title,
.YangPlayer-auto-title {
  margin: 0;
  width: 180px;
  float: left;
  font-size: .8em;
}
.YangPlayer-loop-switch,
.YangPlayer-auto-switch {
  width: 90px;
  float: left;
}
.YangPlayer-loop-on,
.YangPlayer-auto-on {
  display: none;
}
.YangPlayer-playback-rate {
  width: 100%;
  height: 80px;
}
.YangPlayer-rate-title {
  margin: 0;
  font-size: .8em;
}
.YangPlayer-rate-05,
.YangPlayer-rate-10,
.YangPlayer-rate-15,
.YangPlayer-rate-20,
.YangPlayer-rate-40 {
  font-size: .8em;
  font-family: monospace;
  font-weight: 600;
  background-color: #D7EEFF;
  width: 40px;
  margin: 7px;
  float: left;
  box-shadow: 0 0 5px #999;
  opacity: .4;
}
.YangPlayer-rate-10 {
  opacity: 1;
}
.YangPlayer-screen-mode {
  display: inline-block;
  float: left;
}
.YangPlayer-fullscreen,
.YangPlayer-minscreen {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
}
.YangPlayer-minscreen {
  display: none;
}
.YangPlayer-play-circle,
.YangPlayer-loading,
.YangPlayer-replay {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2147483647;
  color: #ddd;
}
.YangPlayer-loading {
  display: block;
}
.YangPlayer-play-circle,
.YangPlayer-replay {
  cursor: pointer;
  display: none;
}
.YangPlayer-replay {
  margin-top: -40px;
  margin-left: -34.29px;
}
.YangPlayer-play-circle,
.YangPlayer-loading {
  margin-top: -40px;
  margin-left: -40px;
}
.YangPlayer-error-prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2147483647;
  color: #fff;
  font-size: 2em;
  margin-top: -62px;
  margin-left: -176px;
  width: 352px;
  text-align: center;
  display: none;
}
.YangPlayer-share-btn {
  color: #fff;
  position: absolute;
  top: 5px;
  right: 25px;
  opacity: .4;
  z-index: 2147483647;
}
/* remove native controls when Chrome/Safari/Opera enters the fullscreen mode 
 * only use following style may not work in Safari when safari is in fullscreen mode
 *  video::-webkit-media-controls { 
 *    display: none !important; 
 *  }
 */
video::-webkit-media-controls-panel {
  display: none !important;
}
