/* main body of video player start */
.YangPlayer-container {
  width: 632px;
  height: 422px;
  background-color: #000;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2147483647 !important;
  user-select: none;
}
.YangPlayer-container input:focus {
  outline: none;
}
#YangPlayer {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.YangPlayer-video-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2147483647;
}
/* main body of video player end */
/* control bar start */
.YangPlayer-control {
  width: 100%;
  height: 30px;
  visibility: visible;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity .5s linear;
  z-index: 2147483647; /* avoiding the overriding of the user agent(Chrome)’s style sheet when Chrome enters fullscreen mode */
}
/* control bar end */
/* control play button start */
.YangPlayer-controlPlay-button { 
  display:inline-block;
  float: left;
  margin-right: 5px;
}
.YangPlayer-play-button,
.YangPlayer-pause-button {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
}
.YangPlayer-pause-button {
  display: none;
}
/* control play button end */
/* progress bar start */
.YangPlayer-progress {
  background-color: #ddd;
  border-radius: 5px;
  width: 0;
  height: 8px;
  display: inline-block;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  margin-top: 11px;
  position: relative;
}
.YangPlayer-playedbar {
  background-color: #09f;
  display: block;
  height: 8px;
  width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19970911;
}
.YangPlayer-bufferedbar {
  background-color: #ccc;
  display: block;
  height: 8px;
  width: 0;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.YangPlayer-progress-dragButton {
  width: 14px;
  height: 14px;
  background-color: #fff;
  box-shadow: 0 0 5px #09f;
  border-radius: 7px;
  position: absolute;
  left: 0;
  top: -3px;
  cursor: pointer;
  z-index: 19970912;
}
.YangPlayer-time {
  display: inline-block;
  line-height: 30px;
  font-size: .9em;
  color: #99a2aa;
  margin-right: 2px;
  float: left;
  width: 136px;
  text-align: center;
}
/* progress bar end */
/* volume button start */
.YangPlayer-volume-button {
  display:inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  transition: background-color .5s linear;
}
.YangPlayer-volume-up,
.YangPlayer-volume-down,
.YangPlayer-volume-off {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
}
.YangPlayer-volume-down,
.YangPlayer-volume-off {
  display: none;
}
.YangPlayer-volume-change {
  width: 30px;
  height: 100px;
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  visibility: hidden;
  box-shadow: 0 0 5px #999;
  transition: all .5s linear;
}
.YangPlayer-volume-number {
  font-size: .8em;
  color: #999;
  text-align: center;
  padding-top: 6px;
}
.YangPlayer-volume-bar {
  width: 6px;
  height: 70px;
  background-color: #39f;
  border-radius: 5px;
  position: absolute;
  left: 12px;
  top: 22px;
}
.YangPlayer-volume-dragButton {
  width: 14px;
  height: 14px;
  background-color: #fff;
  box-shadow: 0 0 5px #09f;
  border-radius: 7px;
  position: absolute;
  left: -4px;
  top: 28px;
  cursor: pointer;
}
.YangPlayer-currentVolume-reverseBar {
  width: 6px;
  height: 40%;
  background-color: #ddd;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* volume button end */
/* setting button start */
.YangPlayer-setting-button {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
  position: relative;
  float: left;
  margin-right: 5px;
  transition: background-color .5s linear;
}
.YangPlayer-setting-pane {
  width: 270px;
  height: 150px;
  background-color: #eee;
  position: absolute;
  right: -30px;
  bottom: 30px;
  color: #888;
  box-shadow: 0 0 5px #999;
  visibility: hidden;
  transition: all .5s linear;
}
.YangPlayer-play-loop,
.YangPlayer-play-auto {
  width: 100%;
  line-height: 35px;
}
.YangPlayer-loop-title,
.YangPlayer-auto-title {
  margin: 0;
  width: 180px;
  float: left;
  font-size: .8em;
}
.YangPlayer-loop-switch,
.YangPlayer-auto-switch {
  width: 90px;
  float: left;
}
.YangPlayer-loop-on,
.YangPlayer-auto-on {
  display: none;
}
.YangPlayer-rate-title {
  margin: 0;
  font-size: .8em;
}
.YangPlayer-rate-05,
.YangPlayer-rate-10,
.YangPlayer-rate-15,
.YangPlayer-rate-20,
.YangPlayer-rate-40 {
  font-size: .8em;
  font-family: monospace;
  font-weight: 600;
  background-color: #D7EEFF;
  width: 40px;
  margin: 7px;
  float: left;
  box-shadow: 0 0 5px #999;
  opacity: .5;
}
/* setting button end */
/* off light button start */
.YangPlayer-turnOff-light {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
}
.YangPlayer-offLight-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
}
/* off light button end */
/* screen mode button start */
.YangPlayer-screen-mode {
  display: inline-block;
  float: left;
}
.YangPlayer-fullscreen,
.YangPlayer-minscreen {
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
}
.YangPlayer-minscreen {
  display: none;
}
/* screen mode button end */
/* bullet screen rect start */
.YangPlayer-bullet-screen {
  width: 524px;
  height: 40px;
  visibility: visible;
  background-color: #eee;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -262px;
  z-index: 2147483647;
  border-radius: 4px;
  opacity: 0;
  transition: opacity .5s linear;
}
.YangPlayer-bulletScreen-pool {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2147483647;
}
.YangPlayer-bulletScreen-top,
.YangPlayer-bulletScreen-move {
  position: absolute;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  top: 10px;
  line-height: 32px;
}
.YangPlayer-bulletScreen-top {
  left: 50%;
  z-index: 1;
}
.YangPlayer-bulletScreen-move {
  transition: transform 0s linear;
  word-break: keep-all;
}
.YangPlayer-bulletScreen-text {
  width: 69%;
  height: 26px;
  font-size: .9em;
  border: none;
  padding: 0 0 0 10px;
  float: left;
  margin: 7px 0 0 10px;
}
.YangPlayer-bulletScreen-send,
.YangPlayer-bulletScreen-color,
.YangPlayer-bulletScreen-mode,
.YangPlayer-bulletScreen-switch {
  float: left;
  text-align: center;
  vertical-align: baseline;
  width: 35px;
  line-height: 40px;
  cursor: pointer;
  color: #888;
  position: relative;
}
.YangPlayer-color-box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #eee;
  width: 220px;
  height: 150px;
  left: 10px;
  bottom: 40px;
  box-shadow: 0 0 5px #999;
  transition: all .5s linear;
}
.YangPlayer-color-pane {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 50px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #F0F8FF;
  border-radius: 5px;
}
.YangPlayer-color-pane:after {
  content: '#';
  position: absolute;
  left: 72px;
  top: 1px;
  color: #000;
  font-size: .7em;
  line-height: 22px;
  z-index: 1;
}
.YangPlayer-color-value {
  width: 80px;
  height: 20px;
  position: absolute;
  left: 100px;
  top: 10px;
  border: 1px solid #F0F8FF;
  padding: 0;
  border-radius: 5px;
  font-size: .7em;
  padding-left: 15px;
}
#picker {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 20px;
  top: 40px;
}
#slider {
  width: 25px;
  height: 100px;
  position: absolute;
  left: 175px;
  top: 40px;
}
.YangPlayer-mode-pane {
  background-color: #eee;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10px;
  bottom: 40px;
  box-shadow: 0 0 5px #999;
  visibility: hidden;
  opacity: 0;
  transition: all .5s linear;
}
.YangPlayer-font-size {
  width: 100%;
  height: 65px;
}
.YangPlayer-font-title,
.YangPlayer-style-title {
  width: 100%;
  text-align: center;
  line-height: 35px;
  margin: 0;
  font-size: .8em;
}
.YangPlayer-style-title {
  margin-top: 10px;
}
.YangPlayer-font-small,
.YangPlayer-font-middle,
.YangPlayer-font-big {
  float: left;
  width: 30px;
  line-height: 30px;
  margin: 0 10px 0;
  font-size: .7em;
  text-align: center;
  box-shadow: 0 0 5px #999;
  opacity: .5;
  background-color: #D7EEFF;
}
.YangPlayer-style-top,
.YangPlayer-style-move {
  margin: 0 0 0 7px;
  text-align: center;
  width: 65px;
  font-size: .7em;
  line-height: 25px;
  float: left;
  box-shadow: 0 0 5px #999;
  opacity: .5;
  background-color: #D7EEFF;
}
.YangPlayer-bulletScreen-on {
  display: none;
}
/* bullet screen rect end */
/* buttons of displaying state start */
.YangPlayer-play-circle,
.YangPlayer-loading,
.YangPlayer-replay {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2147483647;
  color: #ddd;
}
.YangPlayer-loading {
  display: block;
}
.YangPlayer-play-circle,
.YangPlayer-replay {
  cursor: pointer;
  display: none;
}
.YangPlayer-replay {
  margin-top: -40px;
  margin-left: -34.29px;
}
.YangPlayer-play-circle,
.YangPlayer-loading {
  margin-top: -40px;
  margin-left: -40px;
}
.YangPlayer-error-prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2147483647;
  color: #fff;
  font-size: 2em;
  margin-top: -62px;
  margin-left: -176px;
  width: 352px;
  text-align: center;
  display: none;
}
/* buttons of displaying state end */
/*
 * the following styles are used to change the style
 * of several elements 
 */
.YangPlayer-opacity-1 {
  opacity: 1;
}
.YangPlayer-display-block {
  display: block;
}
.YangPlayer-display-none {
  display: none;
}
.YangPlayer-display-inlineB {
  display: inline-block;
}
/* remove native controls when Chrome/Safari/Opera enters the fullscreen mode 
 * only use following style may not work in Safari when safari is in fullscreen mode
 *  video::-webkit-media-controls { 
 *    display: none !important; 
 *  }
 */
video::-webkit-media-controls-panel {
  display: none !important;
}
